*{
    font-family: Arial;
}
html, body, div, h1,h2,h3,h4,h5,h6{
    margin: 0px;
    padding: 0px;
}
body {
    padding-top: 10px;
}


body {
    width: 100%;
    margin: auto;
}
table, tr, td {
    border-collapse: collapse;
    margin: auto;
}
td.heure {
    width: 100px;
    height: 30px;
    text-align: center;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
}
td.creneau {
    width: 200px;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
}
td.creneau_salon {
    background-color: #27ae60;
    color: #FEFEFE;
}
td.creneau_salon.creneau_debut {
    border-top: 1px solid #1f8b4d;
    border-bottom: 1px solid #27ae60;
}
td.creneau_salon.creneau_encours {
    border-top: 1px solid #27ae60;
    border-bottom: 1px solid #27ae60;
}
td.creneau_salon.creneau_fin {
    border-bottom: 1px solid #1f8b4d;
    border-top: 1px solid #27ae60;
}
td.creneau_domicile {
    background-color: #e74c3c;
    color: #FEFEFE;
}
td.creneau_domicile.creneau_debut {
    border-top: 1px solid #b93d30;
    border-bottom: 1px solid #e74c3c;
}
td.creneau_domicile.creneau_encours {
    border-top: 1px solid #e74c3c;
    border-bottom: 1px solid #e74c3c;
}
td.creneau_domicile.creneau_fin {
    border-bottom: 1px solid #b93d30;
    border-top: 1px solid #e74c3c;
}
